body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


li.lista{
    list-style-type: none;
    padding: 5px;
}

.card{
    max-width: 500px ; 
}

